body{

background:#eef5ff;

}

.card{

border-radius:20px;

transition:0.3s;

}

.card:hover{

transform:scale(1.03);

}

.navbar{

padding:15px;

}

.sidebar{

height:100vh;

background:#0d6efd;

color:white;

}

.sidebar a{

color:white;

padding:10px;

}

.sidebar a:hover{

background:white;

color:#0d6efd;

border-radius:8px;

}

canvas{

max-height:350px;

}
#chat-box{

    scroll-behavior:smooth;

}

#chat-box::-webkit-scrollbar{

    width:8px;

}

#chat-box::-webkit-scrollbar-thumb{

    background:#0d6efd;

    border-radius:20px;

}

.card{

    border:none;

    border-radius:15px;

}

.badge{

    font-size:15px;

}
#chat-box{

scroll-behavior:smooth;

}

.badge{

font-size:15px;

max-width:70%;

white-space:normal;

}

.bg-white{

border-radius:15px;

}

.card{

border-radius:15px;

}